﻿@model EntityLayer.ProductModel
@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>
<form action="@Url.Action("AddProduct","Product")" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(m => m.Product_Name)</td>
        </tr>
        <tr>
            <td>Desc</td>
            <td>@Html.TextBoxFor(m => m.Product_Desc)</td>
        </tr>

        <tr>
            <td>Price</td>
            <td>@Html.TextBoxFor(m => m.Product_Price)</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>@Html.TextBoxFor(m => m.Product_Quantity)</td>
        </tr>
        <tr>
            <td>Image Path</td>
            <td>@Html.TextBoxFor(m => m.file, "", new { type = "file" })</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>

