﻿@model List<EntityLayer.ProductModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Add New", "AddProduct", "Product")
<table border="1">
    <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    @foreach (var m in Model)
    {
        
            <tr style="color:green">
                <td>@m.Product_Name</td>
                <td>@m.Product_Desc</td>
                <td>@m.Product_Price</td>
                <td>@m.Product_Quantity</td>
                <td>
                    <a id="Edit" value="Edit" href="/Product/EditProduct?id=@m.Product_Id">Edit</a>
                    <a id="delete" value="Delete" href="/Product/DeleteProduct?id=@m.Product_Id">Delete</a>
                </td>
            </tr>
       
    }

</table>

